/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-freshia-tip {
	box-sizing: border-box;
	padding: 20px;
	background-color: antiquewhite;

	&.tip-info {
		background-color: #d9edf7;
		border-left: 5px solid #31708f;
		color: #31708f;
	}
	&.tip-success {
		background-color: #dff0d8;
		border-left: 5px solid #3c763d;
		color: #3c763d;
	}
	&.tip-warning {
		background-color: #fcf8e3;
		border-left: 5px solid #8a6d3b;
		color: #8a6d3b;
	}
	&.tip-error {
		background-color: #f2dede;
		border-left: 5px solid #a94442;
		color: #a94442;
	}
}
