/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

:root {
    --bg-tip-info: #d9edf7;
    --bg-tip-success: #dff0d8;
    --bg-tip-warning: #fcf8e3;
    --bg-tip-error: #f2dede;
}

// .wp-block-freshia-tip {
// 	color: aqua;
// }

